.justify-start {
  display:flex;
  justify-content: flex-start 
}

.justify-end {
  display:flex;
  justify-content:  flex-end 
}

.justify-center {
  display:flex;
  justify-content:  center 
}

.justify-between {
  display:flex;
  justify-content: space-between 
}

.justify-evenly {
  display:flex;
  justify-content:  space-evenly
}

.justify-around {
  display:flex;
  justify-content: space-around 
}


.centered {
  justify-content: center;
  display: grid;
}

.align-center {
  align-items: center;
}